<% include partials/header.ejs %>
<style>
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 700px;
}

</style>
<h2></h2>

<div class="container-fluid">
    <div class="tab">
        <button class="tablinks" onclick="openTabs(event, 'trendschedule')">Create Auto Report</button>
    </div>
    <div class="" style="border:1px solid">
         <div id="trendschedule" class="tabcontent">
              <form class="p-5" name="edittrendschedule" id="edittrendschedule" method="POST" action="/autoreport/edit">
                <p class="h4 mb-4">Auto Report</p>
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Template Name</th>
                    <th scope="col">Schedule Name</th>
                    <th scope="col">Schedule Type</th>
                    
                    <th scope="col">Create By</th>
                    <!--- >th scope="col">Deleted</th--->
                    <th scope="col">Stop</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead> 

                <tbody>
                <% if(scheduledata){ for(var i = 0; i < scheduledata.length; i++) {%>  
                  <% if (scheduledata[i].stop == 1){%><tr class="w3-red"><%} else {%><tr><%}%>    
                      <th scope="row"><%= scheduledata[i].id %></th>  
                      <td><%= scheduledata[i].templatename %></td>        
                      <td><%= scheduledata[i].schName %></td> 
                      <td><%= scheduledata[i].scheduletype %></td> 
                      
                      <td><%= scheduledata[i].createdname %></td> 
                      <!---td><% if (scheduledata[i].deleted == 1){%>Yes<%} else {%>No<%}%></td--->
                      <td><% if (scheduledata[i].stop == 1){%>Yes<%} else {%>No<%}%></td>
                      <% if (scheduledata[i].stop == 1){%>
                      <td><input type="button" onclick="submiteditform(<%= scheduledata[i].id %>,1);" class="btn btn-success" value="Resume"></td>
                      <%} else {%>
                      <td><input type="button" onclick="submiteditform(<%= scheduledata[i].id %>,2);" class="btn btn-danger" value="Stop"></td>
                      <%}%>
                      <td><input type="button" onclick="submiteditform(<%= scheduledata[i].id %>,3);" class="btn btn-dark" value="Delete"></td>
                    </tr>                            
                <% }} %> 
                      <input type=hidden name="mode" id="mode">
                      <input type=hidden name="schid" id="schid">                
                </tbody> 
                </table>            
              </form>

              <form class="p-5" name="createtrendschedule" id="createtrendschedule" method="POST" action="/autoreport/create">
                    <div class="row">
                      <div class="col-sm-6 p-2">
                        <p class="h4 mb-4">Create New Auto Report</p>
                      </div>                                             
                    </div>    

                    <div class="row">

                      <div class="col-sm-6 p-2">
                        <label for="textInput">Template Name</label>
                        <input type="text" id="templatename" name="templatename" class="form-control mb-4" required placeholder="Enter Your Template Name Here" value="">
                      </div>  
                    
                    </div>   

                    <div class="row">  
                      <div class="col-sm-6 p-2">
                        <label for="textInput">Tag Name</label>
                        <select type="text" id="no" name="no[]" multiple="multiple" class="form-control mb-4" required>
                        <option></option>
                        <% if(tagdata){ for(var i = 0; i < tagdata.length; i++) {%>                        
                        <option value=<%= tagdata[i].TagIndex %>><%= tagdata[i].TagName %></option>
                        <% }} %>                                                
                        </select>
                      </div>                     
                    </div> 

                    <div class="row">  
                      <div class="col-sm-6 p-2">
                        <label for="textInput">Scheduler Type</label>
                        <select type="text" id="scheduletype" name="scheduletype" class="form-control mb-4" required>
                        <option></option>
                        <% if(htmldata){ for(var i = 0; i < htmldata.length; i++) {%>                        
                        <option value=<%= htmldata[i].id %>><%= htmldata[i].scheduletype %></option>
                        <% }} %>                                                
                        </select>
                      </div>                             
                    </div> 

                    <div class="row">
                      <div class="col-sm-3 p-2">
                        <button class="btn btn-primary btn-block" type="submit">Create New Schedule</button>  
                      </div>                                               
                    </div>    

              </form>
        </div>    
        
    </div>
</div>

<% include partials/footer.ejs %>

</div>
<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

</body>

</html>

<script>
function openTabs(evt, tabname) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabname).style.display = "block";
  evt.currentTarget.className += " active";
}



  $(function(){
    $('a').each(function(){
      if ($(this).prop('href') == window.location.href) {
        $(this).addClass('active'); $(this).parents('li').addClass('active');
      }
    });
  });
  document.getElementsByClassName('tablinks')[0].click();

  $(function(){
    $('input[type="text"]').change(function(){
        this.value = $.trim(this.value);
    });
  }); 

  $(function(){
    $("#no").select2({
      placeholder: "Select a Tag Name",
    }); 
    $("#scheduletype").select2({
      placeholder: "Select a Scheduler Type",
    });     
  }); 


function submiteditform(schid,val) {
    $("#mode").val(val);
    $("#schid").val(schid);

    $("#edittrendschedule").submit();
}
</script>










