<% include partials/header.ejs %>
<style>
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 700px;
}

</style>
<h2></h2>

<div class="container-fluid">
    <div class="tab">
        <button class="tablinks" onclick="openTabs(event, 'createtrend')">Create Trend</button>
    </div>
    <div class="" style="border:1px solid">
         <div id="createtrend" class="tabcontent">

            <div id = chartdiv style="display:none">

            </div>
            <div id = chartdivempty style="display:none">
              <p class="h4 mb-4 p-5">No Data Here</p>
            </div>

              <form class="p-5" name="createtrend" method="POST" action="/newtrend">
                    <div class="row">
                      <div class="col-sm-6 p-2">
                        <p class="h4 mb-4">Create New Trend</p>
                      </div>                                             
                    </div>    

                    <div class="row">
                      <div class="col-sm-6 p-2">
                        <label for="textInput">From</label>
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                          <input type="text" required name="from" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">  
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                      </div> 
                      <div class="col-sm-6 p-2">
                        <label for="textInput">To</label>
                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                          <input type="text" required name="to" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                          <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">  
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                      </div>                    
                    </div>

                    <div class="row">
                      <div class="col-sm-6 p-2">
                        <label for="textInput">Tag Name</label>
                        
                          <select type="text" id="no" name="no[]" multiple="multiple" class="form-control mb-4" required>
                          <% if(htmldata){ for(var i = 0; i < htmldata.length; i++) {%>                        
                          <option value=<%= htmldata[i].TagIndex %>><%= htmldata[i].TagName %></option>
                          <% }} %>                                                
                          </select>

                      </div>           
                    </div> 

                    <div class="row">
                      <div class="col-sm-3 p-2">
                        <button class="btn btn-primary btn-block" type="submit">Get</button>  
                      </div>   
                      <div class="col-sm-3 p-2">
                        <input type="button" style="display:none" id="downloadTrendPDF" class="btn btn-primary btn-block" onclick="downloadPDF();" value="Download As PDF">  
                      </div>                                                                    
                    </div>    

              </form>
        </div>    
        
    </div>
</div>

<% include scripts/trendscript.ejs %>
<% include partials/footer.ejs %>

</div>
<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

</body>

</html>

<script>
function openTabs(evt, tabname) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabname).style.display = "block";
  evt.currentTarget.className += " active";
}



  $(function(){
    $('a').each(function(){
      if ($(this).prop('href') == window.location.href) {
        $(this).addClass('active'); $(this).parents('li').addClass('active');
      }
    });
  });
  document.getElementsByClassName('tablinks')[0].click();

  $(function(){
    $('input[type="text"]').change(function(){
        this.value = $.trim(this.value);
    });
  }); 

  $(function(){
    <% if ( (datas) && (datas.length > 0)) { %>
      $( "#chartdivempty" ).hide();
      $( "#chartdiv" ).show();
    <% } else { %>
      $( "#chartdivempty" ).show();
    <% } %>
  }); 

  $(function(){
    var chartformat="YYYY-MM-DD HH:mm";
    $('#datetimepicker1').datetimepicker({
        format:chartformat,
        date: new Date('<% if (returndata) { %><%= returndata.from %><% } %>')
      });
    $('#datetimepicker2').datetimepicker({
        format:chartformat,
        date: new Date('<% if (returndata) { %><%= returndata.to %><% } %>')
      });

      var a_string = "<%= returndata.no %>";
      var a_array = JSON.parse("[" + a_string + "]");

      $("#no").val(a_array).trigger('change');
  }); 

  $(function(){
    $("#no").select2({
      placeholder: "Select a Tag Name",
    }); 
  }); 


</script>










