<% include partials/header.ejs %>
<div id="land_edit" class="container-fluid">
    <div class="" style="border:1px solid">
        <form class="p-5" name="land_edit_form" method="POST" action="/lands/editland">
            <p class="h4 mb-4">Edit land</p>

            <div class="row">
                <div class="col-sm-6">
                    <label for="textInput">Lot No</label>
                    <input type="text" id="lotNo" name="lotNo" class="form-control mb-4" required
                        value="<%= land[0].lotNo%>">
                </div>
                <div class="col-sm-6">
                    <label for="textInput">Title No</label>
                    <input type="text" id="titleNo" name="titleNo" class="form-control mb-4" required
                        value="<%= land[0].titleNo%>">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">

                        <label for="custId">Customer Name</label>
                            <select class="form-control mb-4" id="custId"name="custId" required style="width: 100%">
                            <option></option>
                            <% if(cust_s){ for(var i = 0; i < cust_s.length; i++) {%>                        
                            <option value=<%= cust_s[i].custId %> <%if (cust_s[i].custId==land[0].custId){ %>selected<%}%> ><%= cust_s[i].custName %></option>
                            <% }} %> 
                        </select>  

                </div>
                <div class="col-sm-6">
                    <label for="textInput">Area (hektar)</label>
                    <input type="number" step="any" id="area" name="area" class="form-control mb-4" required
                        value="<%= land[0].area%>">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="textInput">Usage Of Land</label>
                    <select class="form-control mb-4" id="usageOfLand" name="usageOfLand" required style="width: 100%">
                        <option></option>
                        <option value="AGRICULTURE"<%if ("AGRICULTURE"==land[0].usageOfLand){ %>selected<%}%>>AGRICULTURE</option>
                    </select>  


                </div>
                <div class="col-sm-6">
                    <label for="textInput">Type Of Condition</label>
                    <select class="form-control mb-4" id="typeOfCondition" name="typeOfCondition" required style="width: 100%">
                        <option></option>
                        <option value="SAWIT"<%if ("SAWIT"==land[0].typeOfCondition){ %>selected<%}%>>SAWIT</option>
                        <option value="GETAH"<%if ("GETAH"==land[0].typeOfCondition){ %>selected<%}%>>GETAH</option>
                        <option value="PADI"<%if ("PADI"==land[0].typeOfCondition){ %>selected<%}%>>PADI</option>
                        <option value="DUSUN"<%if ("DUSUN"==land[0].typeOfCondition){ %>selected<%}%>>DUSUN</option>
                        <option value="KELAPA"<%if ("KELAPA"==land[0].typeOfCondition){ %>selected<%}%>>KELAPA</option>
                    </select>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="textInput">Mukim</label>
                        <input type="text" id="mukim" name="mukim" class="form-control mb-4" required value="<%= land[0].mukim%>">                    
                    </div>                
                    <div class="col-sm-3">
                        <label for="textInput">Latitude</label>
                        <input type="number" step="any" pattern="[0-9][.][0-9]"  id="gpsLocationLat" name="gpsLocationLat" class="form-control mb-4" required
                        value="<%= land[0].gpsLocationLat%>">
                    </div>                   
                    <div class="col-sm-3">
                        <label for="textInput">Longitude</label>
                        <input type="number" step="any" pattern="[0-9][.][0-9]"  id="gpsLocationLng" name="gpsLocationLng" class="form-control mb-4" required
                        value="<%= land[0].gpsLocationLng%>">
                    </div>                 
                </div>    
                <div class="row">
                    <div class="col-sm-3">
                        <label for="textInput">Year Planted</label>
                        <input type="number" pattern="[0-9]" id="yearPlanted" name="yearPlanted" class="form-control mb-4" value="<%= land[0].yearPlanted%>" required>
                    </div>
                    <div class="col-sm-3">
                        <label for="textInput">Is MSPO certified</label>
                        <select class="form-control mb-4" id="isMSPO" name="isMSPO" required style="width: 100%">
                            <option></option>
                            <option value="1"<%if ("1"==land[0].isMSPO){ %>selected<%}%>>YES</option>
                            <option value="0"<%if ("0"==land[0].isMSPO){ %>selected<%}%>>NO</option>
                        </select>  
                    </div>                
                </div>
            <input type="hidden" id="landId" name="landId" value="<%= land[0].landId%>">
            <div class="row">
                <div class="col-sm-3">
                    <a href="/lands/">
                        <input type=button class="btn btn-secondary btn-block" value="Back" onclick="">
                    </a>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-block" type="submit">Save land</button>
                </div>
            </div>
            

        </form>
    </div>
</div>

<% include partials/footer.ejs %>
</div>
<!-- /#page-content-wrapper -->
</div>

</body>

</html>

<script>
    $("#custId").select2({
        placeholder: "Select a Customer",
		width: 'resolve',
    });   
</script>
