<% include partials/header.ejs %>
<div id="editcustomer" class="container-fluid">
    <form name="user" method="POST" action="/customers/doc" enctype="multipart/form-data">
        <div class="panel panel-primary p-5" id="result_panel" style="border:1px solid">
            <div class="panel-heading">
                <h3 class="panel-title">Customer's Documents<% if(custdir.length){%>
                    <!-- Created:<%=custdir[custdir.length-1].createdate%><% } %> </h3> -->
            </div>
            <div class="panel-body">
                <p class="h4 mb-4">Upload Document Here</p>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="file" name="docupload" multiple="multiple"><br>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>
                <br>
                <ul class="list-group list-group-custom">
                    <% if(custdir){ for(var i = 0; i < custdir.length; i++) {%>
                    <li class="list-group-item"><a href="<%= custdir[i].docfullpath %>" target="_blank"
                            class="list-group-item"><%= i+1 %>. <%= custdir[i].docfilename %></a>
                    </li>
                    <% }} %>
                </ul>
            </div>
        </div>
        <input type=hidden name="custId" value="<%= custId %>">
    </form>
    <% include partials/footer.ejs %>
</div>
<!-- /#page-content-wrapper -->
</div>

</body>

</html>