<% include partials/header.ejs %>
<div class="container-fluid">
    <div class="tab">
        <button class="tablinks" onclick="openTabs(event, 'transporter_s')" value=transporter_s>Transporter</button>
        <button class="tablinks" onclick="openTabs(event, 'transporter_create')" value=transporter_create>Create Transporter</button>
    </div>
    <div class="" style="border:1px solid">
        <div id="transporter_s" class="tabcontent">
            <div class="panel-heading">
                <h3>Transporter List</h3>
            </div>
            <div class="panel-body">
                <table id="transporter_s_view" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Transporter Name</th>
                            <th>Transporter Address</th>
                            <th>Transporter Vehicle No</th>
                            <%# <th>Price 1mt</th>
                            <th>Total Transport</th> %>
                            <th class="none"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Transporter Name</th>
                            <th>Transporter Address</th>
                            <th>Transporter Vehicle No</th>
                            <%# <th>Price 1mt</th>
                            <th>Total Transport</th> %>
                            <th class="none"></th>
                        </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <br> <br> <br> <br>
            <div class="panel-heading">
                <h3>Disabled Transporter List</h3>
                <h4>You have <%= transporter_s_disabled.length%> disabled transporter</h4>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Disabled List (<%= transporter_s_disabled.length%>)</button>

            </div>
            <br> <br>
            <div id="demo" class="collapse">
                <table id="transporter_s_disabled_view" class="display" cellspacing="0" width="100%">
                     <thead>
                        <tr>
                             <th>Transporter Name</th>
                            <th>Transporter Address</th>
                            <th>Transporter Vehicle No</th>
                            <%# <th>Price 1mt</th>
                            <th>Total Transport</th> %>
                            <th class="none"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Transporter Name</th>
                            <th>Transporter Address</th>
                            <th>Transporter Vehicle No</th>
                            <%# <th>Price 1mt</th>
                            <th>Total Transport</th> %>
                            <th class="none"></th>
                        </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

        <div id="transporter_create" class="tabcontent">
            <form class="p-5" name="user" method="POST" action="/transporter/createtransporter" enctype="multipart/form-data">
                <p class="h4 mb-4">Create New Transporter</p>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="textInput">Transporter Name</label>
                        <input type="text" id="transporterName" name="transporterName" class="form-control mb-4" required>
                    </div>
                    <div class="col-sm-8">
                        <label for="textInput">Transporter Address</label>
                        <input type="text" id="transporterAdd" name="transporterAdd" class="form-control mb-4">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4" id="transporterWrapper">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="textInput">Transporter Vehicle No</label>
                            </div>
                            <div class="col-sm-6">
                                <input type=button class="btn btn-primary btn-block" id="addMoreTransporter" value="Add More Vehicle No.">
                            </div>
                        </div>
                        <br>
                        <input type="text" id="transporterVehNo[1]" name="transporterVehNo[1]" class="form-control mb-4" required>   
                        <input type="hidden" id=totalVehno name=totalVehno value=1>             
                    </div>
                    <script>
                        var number = parseInt($('#totalVehno').val());
                        //Once add button is clicked
                        var wrapper = $('#transporterWrapper');
                        $("#addMoreTransporter").click(function(){
                            number +=1;
                            var fieldHTML = `<input type="text" id="transporterVehNo[${number}]" name="transporterVehNo[${number}]" class="form-control mb-4" required>`; //New input field html 
                            //Check maximum number of input fields
                                $(wrapper).append(fieldHTML); //Add field html
                                $('#totalVehno').val(number);
                        });
                    </script>
                    <!--- div class="col-sm-4">
                        <label for="textInput">Price 1mt</label>
                        <input type="number" step="0.01" id="priceMt" name="priceMt" class="form-control mb-4" required onchange="calculateTotalTransport()">
                    </div--->
                </div>
                <!--- div class="row">
                    <div class="col-sm-4">
                        <label for="textInput">Net Weight</label>
                        <select class="form-control mb-4" id="nettWeight" name="nettWeight" required style="width: 100%" onchange="calculateTotalTransport()">
                            <option></option>
                            <% if(ticket_s){ for(var i = 0; i < ticket_s.length; i++) {%>
                            <option weight=<%= ticket_s[i].nettWeight %> value=<%= ticket_s[i].ticketId %>>Ticket No:<%= ticket_s[i].ticketNo %>/Nett Weight:<%= ticket_s[i].nettWeight %>
                            </option>
                            <% }} %>
                        </select> 
                    </div>                 
                    <div class="col-sm-4">
                        <label for="textInput">Total Transport</label>
                        <input type="number" step="0.01" id="totalTransport" name="totalTransport" class="form-control mb-4" required readonly>
                    </div> 
                </div--->
                 <br>
                <p class="h4 mb-4">Upload Document Here</p>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="docupload">Document</label><br>
                        <input type="file" name="docupload"><br>
                    </div>
                </div>
                <p class="h4 mb-4"></p>
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-block" type="submit">Create New transporter</button>
                    </div>
                </div>
               
            </form>
        </div>

    </div>
</div>
<% include partials/footer.ejs %>

</div>
<!-- /#page-content-wrapper -->
</div>

</body>

</html>
<script>
    function openTabs(evt, tabname) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabname).style.display = "block";
        evt.currentTarget.className += " active";
        localStorage.setItem('activetransporter_Tab', tabname);
    }

    $(document).ready(function () {
        $(function () {
            $('a').each(function () {
                if ($(this).prop('href') == window.location.href) {
                    $(this).addClass('active'); $(this).parents('li').addClass('active');
                }
            });
        });

        tablinks = document.getElementsByClassName('tablinks');
        var activetransporter_Tab = localStorage.getItem('activetransporter_Tab');
        if (activetransporter_Tab === null || activetransporter_Tab == '') {
            tablinks[0].click();
        } else {
            for (i = 0; i < tablinks.length; i++) {
                if (tablinks[i].value == activetransporter_Tab)
                    tablinks[i].click();
            }
        }

                var chartformat = "YYYY-MM-DD";
                $('#transporterDatePicker').datetimepicker({
                    format: chartformat,
                    defaultDate: moment(),
                });        
    });

    $("#transporterCategory").select2({
        placeholder: "Select a transporter Category",
        width: 'resolve',
    });

function calculateTotalTransport(){
    
    var priceMt = $('#priceMt').val();
    var nettWeight =  $('#nettWeight').find('option:selected').attr('weight');
    var totalTransport = priceMt * nettWeight;
    $('#totalTransport').val(totalTransport.toFixed(2));    
}

</script>
<% include transporters/transportersjs.ejs %>