<% include partials/header.ejs %>

    <div class="container-fluid">


        <div class="" style="border:1px solid">
            <div id="company">
                <!-- Default form contact -->
                <div class="p-5">
                    <table>
                        <tr>
                            <td>
                                <p class="h4 mb-4">Company Name</p>
                            </td>
                            <td>
                                <p class="h4 mb-4"> :
                                    <%if(company && company.length>0){%>
                                        <%=company[0].coName%>
                                            <%}%>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="h4 mb-4">Company Address</p>
                            </td>
                            <td>
                                <p class="h4 mb-4"> :
                                    <%if(company && company.length>0){%>
                                        <%=company[0].coAdd%>
                                            <%}%>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="h4 mb-4">Company Tel. No</p>
                            </td>
                            <td>
                                <p class="h4 mb-4"> :
                                    <%if(company && company.length>0){%>
                                        <%=company[0].coTel%>
                                            <%}%>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <%if(user.administrator){%>
                    <form class="p-5" name="companyedit" method="POST" action="/company/edit">
                        <p class="h4 mb-4">Edit Company</p>
                        <label for="textInput">Company Name</label>
                        <input type="text" id="compname" name="compname" class="form-control mb-4" value="<%if(company && company.length>0){%><%=company[0].coName%><%}%>">

                        <label for="textInput">Company Address</label>
                        <input type="text" id="compadd" name="compadd" class="form-control mb-4" value="<%if(company && company.length>0){%><%=company[0].coAdd%><%}%>">

                        <label for="textInput">Company Tel. No</label>
                        <input type="text" id="comptel" name="comptel" class="form-control mb-4" value="<%if(company && company.length>0){%><%=company[0].coTel%><%}%>">
                        <input type="hidden" name=coId value="<%if(company && company.length>0){%><%=company[0].coId%><%}%>">
                        <button class="btn btn-primary btn-block" type="submit">Save</button>
                    </form>
                    <%}%>
                        <%if(company[0].coId == 1 && user.administrator){%>
                            <form style="background-color: beige" class="p-5" name="companycreate" method="POST" action="/company/create">
                                <p class="h4 mb-4">Create Company</p>
                                <label for="textInput">Company Name</label>
                                <input type="text" id="compname" name="compname" required class="form-control mb-4">

                                <label for="textInput">Company Address</label>
                                <input type="text" id="compadd" name="compadd" required class="form-control mb-4">

                                <label for="textInput">Company Tel. No</label>
                                <input type="text" id="comptel" name="comptel" class="form-control mb-4" required>
                                <input type="hidden" name=coId value="<%if(company && company.length>0){%><%=company[0].coId%><%}%>">
                                <input type="button" class="btn btn-primary btn-block" onclick="getConfirmation();" value="Create">
                            </form>
                            <%}%>
                                <!-- Default form contact -->
            </div>

        </div>
    </div>
    <% include partials/footer.ejs %>

        </div>
        <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->

        </body>

        </html>

        <script>
            function getConfirmation() {
                var retVal = confirm("Do you want to create this company ?");
                if (retVal == true) {

                    companycreate.submit();
                    return true;
                } else {
                    return false;
                }
            }
        </script>