<% include partials/header.ejs %>
<div id="buyer_edit" class="container-fluid">
    <div class="" style="border:1px solid">
        <form class="p-5" name="buyer_edit_form" method="POST" action="/buyers/editbuyer">
            <p class="h4 mb-4">Edit buyer</p>

            <div class="row">
                <div class="col-sm-6">
                    <label for="textInput">buyer Date</label>
                    <div class="input-group date" id="buyerDatePicker" data-target-input="nearest">
                        <input type="text" id="buyerDate" name="buyerDate" required class="form-control datetimepicker-input" data-target="#datetimepicker1" value="<%=buyer[0].buyerDate%>"/>
                        <div class="input-group-append" data-target="#buyerDatePicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>    
                </div>
                <div class="col-sm-6">
                    <label for="textInput">buyer No</label>
                    <input type="text" id="buyerNo" name="buyerNo" class="form-control mb-4" required value="<%=buyer[0].buyerNo%>">
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="textInput">Vehicle No</label>
                        <input type="text" id="vehicleNo" name="vehicleNo" class="form-control mb-4" required value="<%=buyer[0].vehicleNo%>">
                    </div>
                    <div class="col-sm-6">
                        <label for="textInput">Buyer Name</label>
                        <input type="text" id="buyerId" name="buyerId" class="form-control mb-4" required value="<%=buyer[0].buyerId%>">
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="textInput">First Weight</label>
                    <input type="number" step="0.01" id="firstWeight" name="firstWeight" class="form-control mb-4" required value="<%=buyer[0].firstWeight%>" onchange="calculateNettWeight();">
                </div>
                <div class="col-sm-3">
                    <label for="textInput">Second Weight</label>
                    <input type="number" step="0.01" id="secondWeight" name="secondWeight" class="form-control mb-4" required value="<%=buyer[0].secondWeight%>" onchange="calculateNettWeight();">
                </div>
                <div class="col-sm-3">
                    <label for="textInput">Deduction</label>
                    <input type="number" step="0.01" id="deduction" name="deduction" class="form-control mb-4" required value="<%=buyer[0].deduction%>" onchange="calculateNettWeight();">
                </div>
                <div class="col-sm-3">
                    <label for="textInput">Nett Weight</label>
                    <input readonly=1 type="number" step="0.01" id="nettWeight" name="nettWeight" class="form-control mb-4" value="<%=buyer[0].nettWeight%>" required>
                </div>                    
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="textInput">Price 1mt</label>
                    <input type="number" step="0.01" id="priceMt" name="priceMt" class="form-control mb-4" required value="<%=buyer[0].priceMt%>" onchange="calculateTotalWeight();">
                </div>
                <div class="col-sm-3">
                    <label for="textInput">Total Price</label>
                    <input readonly=1 type="number" step="0.01" id="totalPrice" name="totalPrice" class="form-control mb-4" value="<%=buyer[0].totalPrice%>" required>
                </div>
                <div class="col-sm-3">
                    <label for="textInput">OER</label>
                    <input type="number" step="0.01" id="oer" name="oer" class="form-control mb-4" value="<%=buyer[0].oer%>" required>
                </div>                  
            </div>  
            <input type="hidden" id="buyerId" name="buyerId" value="<%= buyer[0].buyerId%>">
            <div class="row">
                <div class="col-sm-3">
                    <a href="/buyers/">
                        <input type=button class="btn btn-secondary btn-block" value="Back" onclick="">
                    </a>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-block" type="submit">Save buyer</button>
                </div>
            </div>            

        </form>
    </div>
</div>

<% include partials/footer.ejs %>
</div>
<!-- /#page-content-wrapper -->
</div>

</body>

</html>

<script>
$(document).ready(function () {
    var chartformat = "YYYY-MM-DD";
    $('#buyerDatePicker').datetimepicker({
        format: chartformat,
    });  
});  
function calculateNettWeight(){
    var firstWeight = $('#firstWeight').val();
    var secondWeight =  $('#secondWeight').val();
    var deduction =  $('#deduction').val();
    var nettWeight = firstWeight-secondWeight-deduction;

    $('#nettWeight').val(nettWeight.toFixed(2));

    var priceMt = $('#priceMt').val();
    var totalPrice = priceMt * nettWeight;
    $('#totalPrice').val(totalPrice.toFixed(2));    
}
function calculateTotalWeight(){
    var priceMt = $('#priceMt').val();
    var nettWeight =  $('#nettWeight').val();
    var totalPrice = priceMt * nettWeight;
    $('#totalPrice').val(totalPrice.toFixed(2));
}
</script>
